@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/fonts/SFProText-Regular.woff2') format('woff2'),
      url('./assets/fonts/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/fonts/SFProText-Semibold.woff2') format('woff2'),
      url('./assets/fonts/SFProText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('./assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

html{
  font-family: 'SF Pro Text';
}

body{
  overflow-x: hidden;
  background: rgb(229, 229, 229);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}